footer{
    background-color:rgba(0,0,0,0.8);
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    color: #ffff;
    justify-content: center;
    padding:20px 0px 50px 0px;
}
.footer-content{
    width:300px;
    margin-top:30px;
}
.footer-content h3{
    color: rgb(12, 171, 171);
}
.footer-content ul{
    padding:0px;
    list-style: none;
}
.footer-content ul li {
    padding:5px 0px;
}
.footer-content ul li a{
    text-decoration: none;
    color: inherit;
}
.footer-content p{
    line-height:30px;
    padding-right:20px;
}
footer .base-line{
    display: flex;
    align-items: center;
    background-color:rgba(22, 21, 21, 0.8);
    height:60px;
    color: #ffff;
}
.icon-section{
    width:98%;
    display: flex;
    justify-content: space-evenly;
}
footer .base-line .up-icon{
    color: rgb(12, 171, 171);
}
footer .base-line img{
    width:20px;
    height:20px;
    margin:0px 10px;
}
#pop-up{
    display: none;
    position: fixed;
    display: flex;
    top:10%;
    left:15%;
    width:70%;
    height:80%;
    background-color: rgb(235, 235, 235);
    padding:50px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.8);
    border-radius: 20px;
}
#pop-up .Close_button{
    position: absolute;
    top:10px;
    right:10px;
    width:30px;
    height:30px;
    font-size:18px;
    font-weight: 800;
    background-color: black;
    color: #ffff;
    border-radius: 50%;
}
#pop-up .left-side{
    width:50%;
    height:95%;
}
#pop-up .left-side p{
    margin-top: 30px;
    line-height: 25px;
}
#pop-up .left-side button{
    width:150px;
    height:40px;
    font-size: 16px;
    margin-top:40px;
    font-weight: 900;
    background-color: black;
    color: aliceblue;
    border-radius: 4px;
}
#pop-up .right-side{
    width:50%;
    height:95%;
}
#pop-up .right-side img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow:4px 4px 10px rgb(178, 180, 180);
}